.slm-containers {

    padding: 3%;

    .slm-content-header {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 1.8px;
        margin-bottom: 20px;
        color: #d7bb73;

    }

    .about-us-content {
        font-size: 19px;
        color: black;

        letter-spacing: 0.8px;
        line-height: 27px;
    }
}