/* Base Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header Container */
.header-container {
    .header-section {
        display: flex;
    }

    .navbar {
        background-color: white !important;

        .navbar-nav {
            gap: 80px;

            .nav-item {
                cursor: pointer;

                .nav-link {
                    color: black;
                    transition: color 0.3s ease;
                    letter-spacing: 1px;

                    &:hover {
                        color: #d7bb73;
                    }

                    &.first-item {
                        color: #d7bb73;
                        letter-spacing: 2px;
                    }

                    &.active {
                        color: #d7bb73;
                    }
                }
            }
        }
    }

    .logo {
        padding: 10px;

        .logoImg {
            height: 100%;
            width: 50%;
        }
    }

    .navbar-container {
        padding: 3%;
        padding-right: 1%;
    }

    .socialMedia-container {
        display: flex;
        padding: 3%;
        gap: 28px;

        .socialMediaIcon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* Portfolio Gallery */
.portfolio-gallery {
    background-size: cover;

    .changing-image {
        width: 100%;
        object-fit: cover;
        height: 700px;
    }
}


/* About Section */
.slm-containers {
    padding: 3%;

    .slm-content-header {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 1.8px;
        margin-bottom: 20px;
        color: #d7bb73;
    }

    .about-us-content {
        font-size: 19px;
        color: black;
        letter-spacing: 0.8px;
        line-height: 27px;
    }
}

/* Main Container */
.main-container {
    background: url('/assets/buildingBackground.png') no-repeat center center;
    background-size: cover;
}

/* Our Products */
.our-products-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;

    .title {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .sub-paragraph {
        font-size: 21px;
        margin-bottom: 100px;
        color: rgb(14, 14, 14);
        letter-spacing: 0.5px;
    }

    .products-list {
        display: flex;
        justify-content: space-between;

        .product-category {
            flex: 1;
            margin-right: 20px;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 20px;
                    line-height: 1.6;
                    font-size: 19px;
                    letter-spacing: 0.6px;

                    &:before {
                        content: '⚪';
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: #00aaff;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* Overall Stats */
.over-all {
    display: flex;
    gap: 10%;
    padding: 3%;

    .count {
        font-size: 4rem;
        font-weight: 800;
    }

    .content {
        font-size: 2rem;
        font-weight: 400;
    }
}

/* Footer Section */
.footer-header {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 100px 50px 160px;
    background: url('/assets/vector-bg.jpg') no-repeat center center;
    background-size: cover;

    .header-text {
        color: #d7bb73;
        width: 70%;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: -1px;
        margin-bottom: 2rem;
    }

    .header-text-2 {
        color: aliceblue;
        font-family: "Poppins", Sans-serif;
        font-size: 22px;
        line-height: 1.2em;
        letter-spacing: 1px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            background: transparent;
            color: #d7bb73;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 30px;
            transition: background 0.3s;

            &:hover {
                background-color: #555;
            }
        }
    }
}

.footer-section {
    padding: 3%;

    .logoImg {
        width: 100%;
    }

    .footer-text {
        letter-spacing: 2px;
        line-height: 30px;
    }

    .contact-details {
        line-height: 30px;
        letter-spacing: 2px;
    }

    .footer-menu-text {
        width: 130px;
        cursor: pointer;
        letter-spacing: 2px;
    }

    .socialMedia-section {
        display: flex;
        gap: 28px;
        justify-content: center;
        padding-top: 3%;

        .socialMediaIcon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .copyrights {
        padding: 5%;
        font-size: 1.3rem;
    }
}

/* Slideshow Container */
.slideshow-container {
    position: relative;

    .fade {
        animation-name: fade;
        animation-duration: 7.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .gallery-item {
        width: calc(25% - 10px);
        position: relative;

        .thumbnail {
            width: 100%;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        width: 80%;
        max-width: 800px;

        .full-image {
            width: 100%;
        }
    }
}


/* google map */

.full-width-map-container {
    width: 100%;
    /* Full width of the viewport */
    max-width: 100%;
    /* Ensure it doesn't exceed the viewport width */
    margin: 0 auto;
    /* Center the container horizontally */
    overflow: hidden;
    /* Ensure iframe does not overflow if its width exceeds its container */
}

.full-width-map-container iframe {
    width: 100%;
    /* Full width within its container */
    height: 450px;
    /* Set a fixed height or adjust as needed */
}

/* Smaller screens (phones) */
@media only screen and (max-width: 768px) {

    /* Navbar adjustments */
    .navbar-nav {
        gap: 20px;
        /* Adjust spacing */
    }

    .logoImg {
        width: 100%;
        /* Ensure logo scales with screen */
    }

    /* About Section adjustments */
    .slm-containers {
        padding: 5%;
    }

    .about-us-content {
        font-size: 16px;
        /* Decrease font size */
    }

    /* Products Section adjustments */
    .our-products-container {
        padding: 10px;
        max-width: 100%;
    }

    .sub-paragraph {
        margin-bottom: 50px;
        /* Reduce margin */
    }

    .products-list {
        flex-direction: column;
        /* Stack product categories */
    }

    .products-list .product-category {
        margin-right: 0;
        /* Remove margin */
        margin-bottom: 20px;
    }

    /* Footer adjustments */
    .footer-header {
        padding: 40px 20px 30px 20px;
        /* Adjust padding */
    }

    .header-text {
        font-size: 30px;
        /* Decrease font size */
    }

    .button-container {
        flex-direction: column;
        /* Stack button and text */
        align-items: center;
    }

    button {
        font-size: 20px;
        /* Decrease button font size */
    }
}


@media only screen and (max-width: 768px) {
    .navbar-nav {
        gap: 20px;
    }

    .logoImg {
        width: 100%;
    }

    .navbar-collapse {
        background-color: white;
        border-top: 1px solid #ddd;
        /* Example border */
        max-height: 300px;
        /* Example max height */
        transition: max-height 0.3s ease;
        /* Smooth transition */
        overflow-y: auto;
        /* Scrollable container */
    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: '';
        background: no-repeat center center;
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 768px) {
    .slm-containers {
        padding: 5%;
    }

    .about-us-content {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .products-list {
        flex-direction: column;
    }

    .products-list .product-category {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .footer-header {
        padding: 40px 20px 30px 20px;
    }

    .header-text {
        font-size: 30px;
    }
}