<div class="about-us-container ">
    <div class="row justify-content-between">
        <div class="col about-us">
            <h3 class="header">ABOUT US</h3>
            <p>“SLM Containers” is founded by a team of passionate professionals who believe
                in popularising the ‘Bunk House’ concept. Highly durable, sustainable, and affordable portable
                industrial containers/cabins are manufactured by an excellent in-house engineering team, coupled with
                our state of art infrastructure and high-quality raw materials.<br><br>Owing to impeccable customer
                service, and exceptional products, the company has gained many trusted clients. Customization of the
                products based on client requirements has been a key differentiator that has enabled SLM to stand apart
                from competitors.<br><br>Currently, bunk houses have received much needed, and widespread popularity due
                to their affordability and versatility. Procurement of a space to install the bunk house is the only
                prerequisite for commencing one’s business or stay!</p>
        </div>
    </div>